
.kuleuven_title_slide { text-align: center; color: #fff;}
.kuleuven_structure_slide,
.kuleuven_slide {color: #1D8DB0;}

.kuleuven h1,
.kuleuven h2,
.kuleuven h3,
.kuleuven h4,
.kuleuven h5,
.kuleuven h6 {
  margin: 0 0 20px 0;
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: uppercase;
  text-shadow: none;
  word-wrap: break-word; }

.kuleuven h1 {
  font-size: 2em; }

.kuleuven h2 {
  font-size: 1.5em; }

.kuleuven h3 {
  font-size: 1.15em; }

.kuleuven h4 {
  font-size: 1em; }

.kuleuven h1 {
  text-shadow: none; }
